---
import { getImages } from "../../libs/wp";
const { details } = Astro.props;
const data = details?.detalles || []

const imgs = data?.map((url:any)=> (getImages(url.img)))

const dataImg = await Promise.all(imgs);
---

{
  data?.map((d:any, index:number) => (
    <div class="flex gap-3 items-center">
      <div>
        <span class="size-12 bg-green rounded-full flex items-center justify-center">
          <img class="size-7" decoding="async" src={dataImg[index].url} alt="" />
        </span>
      </div>
      <div class="flex flex-col justify-start">
        <span class="font-semibold text-sm md:text-base">{d.titulo}</span>
        <span class="font-normal text-sm text-wrap md:text-nowrap">{d.descripcion}</span>
      </div>
    </div>
  ))
}



<!-- 
<div class="flex gap-3 items-center">
  <div>
    <span class="size-12 bg-green rounded-full flex items-center justify-center">
      <i class="fa-solid fa-clock text-xl text-white"></i>
    </span>
  </div>
  <div class="flex flex-col justify-start">
    <span class="font-semibold text-sm md:text-base">Duration</span>
    <span class="font-normal text-sm text-wrap md:text-nowrap">4 dias 3 noches</span>
  </div>
</div>

<div class="flex gap-3 items-center">
  <div>
    <span class="size-12 bg-green rounded-full flex items-center justify-center">
      <i class="fa-solid fa-chart-line text-xl text-white"></i>
    </span>
  </div>
  <div class="flex flex-col justify-start">
    <span class="font-semibold text-sm md:text-base">Dificultad</span>
    <span class="font-normal text-sm text-wrap md:text-nowrap">Facil</span>
  </div>
</div>
<div class="flex gap-3 items-center">
  <div>
    <span class="size-12 bg-green rounded-full flex items-center justify-center">
      <i class="fa-solid fa-person text-xl text-white"></i>
    </span>
  </div>
  <div class="flex flex-col justify-start">
    <span class="font-semibold text-sm md:text-base">Viajeros</span>
    <span class="font-normal text-sm">09 Max</span>
  </div>
</div> -->
